{:paths ["src" "test" "resources"]
 :deps  {org.clojure/clojure                         {:mvn/version "1.11.1"}
         org.clojure/test.check                      {:mvn/version "1.1.1"}
         org.clojure/spec.alpha                      {:mvn/version "RELEASE"}
         metosin/malli                               {:mvn/version "0.9.2"}
         lambdaisland/regal                          {:mvn/version "0.0.143"}
         org.apache.logging.log4j/log4j-api          {:mvn/version "2.19.0"}
         org.apache.logging.log4j/log4j-core         {:mvn/version "2.19.0"}
         com.fasterxml.jackson.core/jackson-core     {:mvn/version "2.13.4"}
         com.fasterxml.jackson.core/jackson-databind {:mvn/version "2.13.4"}
         lambdaisland/ansi                           {:mvn/version "0.2.37"}}

 :aliases
 {:dev
  {}

  :test
  {:extra-deps {lambdaisland/kaocha {:mvn/version "1.71.1119"}
                lambdaisland/ansi   {:mvn/version "RELEASE"}}}

  :jediterm
  {:extra-deps {org.jetbrains.jediterm/jediterm-pty {:mvn/version "2.42"}
                org.slf4j/log4j-over-slf4j          {:mvn/version "2.0.3"}
                com.google.guava/guava              {:mvn/version "31.1-jre"}}}}

 :mvn/repos
 {"jcenter" {:url "https://jcenter.bintray.com/"}}}
