{:paths ["src" "test" "resources"]
 :deps  {org.clojure/clojure    {:mvn/version "1.11.1"}
         org.clojure/test.check {:mvn/version "1.1.1"}
         org.clojure/spec.alpha {:mvn/version "RELEASE"}
         metosin/malli          {:mvn/version "0.9.2"}
         lambdaisland/regal     {:mvn/version "0.0.143"}}

 :aliases
 {:dev
  {}

  :test
  {:extra-deps {lambdaisland/kaocha {:mvn/version "1.70.1086"}
                lambdaisland/ansi   {:mvn/version "RELEASE"}}}

  :jediterm
  {:extra-deps {org.jetbrains.jediterm/jediterm-pty {:mvn/version "2.42"}
                org.slf4j/log4j-over-slf4j          {:mvn/version "2.0.3"}
                com.google.guava/guava              {:mvn/version "31.1-jre"}}}}

 :mvn/repos
 {"jcenter" {:url "https://jcenter.bintray.com/"}}}
